<!- Header partial (template). ->

<!DOCTYPE html>

<html lang="en">
  <header>
    <p>The TinyApp</p>
    <form action="/login" method="POST" style="margin:150">
      <label for="login">Enter a username:</label>
      <input id="login" type="text" name="username" style="width: 150px">
      <input type="submit" value="Submit">
  </header>