<!- Template to display all the URLs and their shortened forms. ->

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp URL Directory</title>
  </head>
  <body>
    <p>This is the official directory of TinyApp URLs:</p>
    <p><%= urlDatabase %></p>
    <p>Click here to create a TinyApp URL!</p>
  </body>
</html>