<!- Page to display a gingle URL and its shortened form. ->

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp URL Directory Search</title>
  </head>
  <body>
    <p>The result of your search is:</p>
    <p><%= templateVars %></p>
  </body>
</html>