<!- Template to display all the URLs and their shortened forms. ->

<!DOCTYPE html>

<html lang="en">
  <header>
    <% include ./partials/_header %>
  </header>
  <head>
    <title>TinyApp URL Directory</title>
  </head>
  <body>
    <p>This is the official directory of TinyApp URLs:</p>
    <ul>
      <% var keys = Object.keys(urls); %>
      <% keys.forEach(function(key) { %>
        <li><%= urls[key] + " --> " + key; %></li>
      <% }); %>
    <ul>
    <a href="http://localhost:8080/urls/new">Click here to create a TinyApp URL!</a>
  </body>
</html>