<!DOCTYPE html>

<html lang="en">
  <head>
    <title>TinyApp: Directory</title>
  </head>
  <body style="font-size:20px; padding:50px">
    <% include partials/_header %>
    <div style="margin:100px">
      <a href="http://localhost:8080/urls/new">--> Create a new TinyURL <--</a>
      <p>Your TinyURLs:</p>
      <ul>
        <% if (urls) {%>
          <% Object.keys(urls).forEach(function(tinyURL) { %>
              <li><%= urls[tinyURL] + " --> " + tinyURL; %>
              <a href="/urls/<%= tinyURL %>">Edit</a>
              <form method="POST" action="/urls/<%= tinyURL %>/delete">
                <input type="submit" value="Delete">
              </form></li>
          <% }); %>
        <% } %>
      </ul>
    </div>
  </body>
</html>

