<!DOCTYPE html>

<!- Template to display all the URLs and their shortened forms. ->

<html lang="en">
  <header>
    <% include ./partials/_header %>
  </header>
  <head>
    <title>TinyApp URL Directory</title>
  </head>
  <body>
    <p>This is the official directory of TinyApp URLs:</p>
    <ul>
      <% if (urls) {%>
        <% Object.keys(urls).forEach(function(tinyURL) { %>
            <li><%= urls[tinyURL] + " --> " + tinyURL; %>
            <a href="/urls/<%= tinyURL %>">Edit</a>
            <form method="POST" action="/urls/<%= tinyURL %>/delete">
              <input type="submit" value="Delete">
            </form></li>
        <% }); %>
      <% } %>
    <ul>
    <a href="http://localhost:8080/urls/new">Click here to create a TinyApp URL!</a>
  </body>
</html>

