<!- Page to display a gingle URL and its shortened form. ->

<!DOCTYPE html>

<html lang="en">
  <% include ./partials/_header %>
  <head/>
    <title>TinyApp URL Directory Search</title>
  </head>
  <body>
    <p>ShortURL: <%= shortURL %></p>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px">
      <input id="longURL" type="text" name="longURL" value=<%= urls[shortURL].url %>
      style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>