<!- Page to display a gingle URL and its shortened form. ->

<!DOCTYPE html>

<html lang="en">
  </header>
    <% include ./partials/_header %>
  <head>
    <title>TinyApp URL Directory Search</title>
  </head>
  <body>
    <p>The result of your search is: <%= shortURL %></p>
  </body>
</html>